<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :user_name %>:<br />
    <%= f.text_field :user_name %></div>
  
  <div><%= f.label :firstname %>:<br />
    <%= f.text_field :firstname %></div>

  <div><%= f.label :lastname %>:<br />
    <%= f.text_field :lastname %></div>

  <div><%= f.label :date_of_birth %>:<br />
    <%= f.date_select :date_of_birth, :start_year=>Date.current.year, :end_year=>1900 %></div>

    <div>
    <% if :city_id.nil? %><%= f.label :city %><br />
    <% else %>
      <% @city=City.find_by_sql ["SELECT name FROM cities WHERE id = ?", current_user.city_id] %>
      <%= f.label :city %> (current city - <%= @city.first.name  %>)<br />
    <% end %>
    <%= f.hidden_field :city_id, :id => "city_id" %>
    <%= autocomplete_field_tag "temp_city_name", "", autocomplete_city_name_purchases_path, :size => 25, :id_element => "#city_id" %><br /></div>

  <div><%= f.label :email %>:<br />
    <%= f.email_field :email %></div>
  
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>:<br />
    <%= f.password_field :current_password %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>:<br />
    <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>:<br />
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Update" %></div>
<% end %>