<h1>Welcome to shopping catalog!</h1><br />
<%unless user_signed_in? -%>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end -%>

<div>
<%= form_tag @purchase, :method => 'get' do %>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag :n, params[:n], :size => 25 %><br />
    <%= label_tag :max_price %><br />
    <%= text_field_tag :p, params[:p], :size => 7 %><br />
    <%= label_tag :city %><br />
    <%= hidden_field_tag :c %>
    <%= autocomplete_field_tag "", "", autocomplete_city_name_purchases_path, :size => 25, :id_element => "#c" %><br />
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>

<h2>Listing purchases</h2>

<table>
<% @purchases.each do |purchase| %>
  <tr><td><%= link_to image_tag(purchase.picture.url(:thumb)), purchase.picture.url(:medium), :class => "lightbox", :title => purchase.name, :rel => "roadtrip" %></td>
  <td>
    <table>
      <tr><td><b>Name: </b><%= purchase.name %></td></tr>
      <% if purchase.city_id.nil? %><tr><td><b>Сity: </b></td></tr>
      <% else %>
        <% @city=City.find_by_sql ["SELECT name FROM cities WHERE id = ?", purchase.city_id] %>
        <tr><td><b>Сity: </b><%= @city.first.name %></td></tr>
      <% end %>
      <tr><td><b>Price: </b><span class="price" ><%= number_to_currency(purchase.price, :unit =>"RUB ") %></td></tr>
      <tr><td><b>Description: </b><%= purchase.description %></td></tr>
      <tr><td><b>Created: </b><%= purchase.created_at %></td></tr>
      <tr><td><b>Modified: </b><%= purchase.updated_at %></td></tr>
      <tr><td><%= link_to 'Show', purchase %>
      <% if user_signed_in? and (purchase.user_id == current_user.id) -%>
        | <%= link_to 'Edit', edit_purchase_path(purchase) %> |
        <%= link_to 'Destroy', purchase_path(purchase), :confirm => 'Are you sure?', :method => :delete %></td></tr>
      <% end -%>
    </table>
  </td>
  </tr>
<% end %>
</table>