<h1>Welcome to shopping catalog!</h1><br />
<%unless user_signed_in? -%>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end -%><br />
<h2>Listing purchases</h2>

<table>
<% @purchases.each do |purchase| %>
  <tr><td><%= link_to image_tag(purchase.picture.url(:thumb)), purchase.picture.url(:medium), :class => "lightbox", :title => purchase.name, :rel => "roadtrip" %></td>
  <td>
    <table>
      <tr><td><b>Name: </b><%= purchase.name %></td></tr>
      <tr><td><b>Price: </b><span class="price" ><%= number_to_currency(purchase.price, :unit =>"RUB ") %></td></tr>
      <tr><td><b>Description: </b><%= purchase.description %></td></tr>
      <tr><td><%= link_to 'Show', purchase %>
      <% if user_signed_in? and (purchase.user_id == current_user.id) -%>
        | <%= link_to 'Edit', edit_purchase_path(purchase) %> |
        <%= link_to 'Destroy', purchase_path(purchase), :confirm => 'Are you sure?', :method => :delete %></td></tr>
      <% end -%>
    </table>
  </td>
  </tr>
<% end %>
</table>