<p id="notice"><%= notice %></p>

<%= link_to image_tag(@purchase.picture.url(:small)), @purchase.picture.url(:medium), :class => "lightbox", :title => @purchase.name, :rel => "roadtrip" %>

<p><b>Name: </b><%= @purchase.name %></p>

<p><b>Price: </b><%= number_to_currency(@purchase.price, :unit =>"RUB ")  %></p>
<p><b>Сity: </b><%= @purchase.city_id %></p>
<p><b>Description: </b><%= @purchase.description %></p>

<% if user_signed_in? and (@purchase.user_id == current_user.id) %>
  <%= link_to 'Edit', edit_purchase_path(@purchase) %> |
  <%= link_to 'Destroy', purchase_path(@purchase), :confirm => 'Are you sure?', :method => :delete %>
<% end %>