<!DOCTYPE html>
<html>
<head>
  <title>Buyers</title>
  <%= stylesheet_link_tag 'blueprint/screen'%>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div class="container">
  <header>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to 'Back', :back %></li>
        <% unless user_signed_in? -%>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end -%>
        <% if user_signed_in? -%>
          <li><%= link_to 'My info', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path %></li>
          <li><%= link_to 'New purchase', new_purchase_path %></li>
        <% else -%>
        <% end -%>
      </ul>
    </nav>
  </header>
  <section class="round">
        <% if user_signed_in? -%>
        <% end -%>
    <%= yield %>
  </section>
</div>
</body>
</html>
